Django>=5.0,<6.0
djangorestframework==3.16.0
python-dotenv==1.1.0
django-environ==0.12.0
django-cors-headers==3.14.0
django-allauth==65.7.0
celery==5.5.2
django-celery-beat==2.8.0
python-decouple==3.8
python-docx==1.1.2
pymysql==1.1.1
PyPDF2==3.0.1
pydantic==2.11.2
gunicorn==23.0.0
stripe==12.1.0
openai==1.77.0
Pillow==11.1.0
whitenoise==6.9.0
django-stripe-payments==2.0.0
django-tinymce==4.1.0
django-widget-tweaks==1.5.0